<div class="list-group" id="list-tab" role="tablist">
    <div class="profile">
        <i class="fas fa-user-circle fa-2x fa-fw"></i>@Controller.LoggedInUser.DisplayName
    </div>
    <a class="list-group-item list-group-item-action bizhub-cursor-pointer @(@ActiveMenu == 1 ? "active" : "")" @onclick="@(() => MenuItemSelected.InvokeAsync(1))">
        <i class="fas fa-user fa-fw"></i> Templates
    </a>
    <a class="list-group-item list-group-item-action bizhub-cursor-pointer @(@ActiveMenu == 2 ? "active" : "")" @onclick="@(() => MenuItemSelected.InvokeAsync(2))">
        <i class="fas fa-envelope fa-fw"></i> Campaigns
    </a>
    <a class="list-group-item list-group-item-action bizhub-cursor-pointer @(@ActiveMenu == 3 ? "active" : "")" @onclick="@(() => MenuItemSelected.InvokeAsync(3))">
        <i class="fas fa-comments"></i> Recipient Management
    </a>
</div>


