<div style=" text-align: center; background: white; padding: 10px 0 0 0px !important;">
    <div class="row mb-2 mx-auto">
        <div class="col-md-11 text-center pr-0">
            <h3 class=" pl-0 my-auto" style="color:var(--primary-blue);text-align: center;">@((MarkupString) Options.Header)</h3>
        </div>
        <div class="col-md-1 p-0 text-right">
            <button class="btn btn-sm btn-transparent" @onclick="BlazoredModal.Cancel">
                <i class="fa fa-times text-secondary"></i>
            </button>
        </div>
    </div>
    <hr class="my-2">
    <div class="row p-2 m-auto">
        <div class="col-md-4 p-0">
            Name Of Search:
        </div>
        <div class="col-md-8 p-0">
            <input class="form-control global-box-height" placeholder="Search Name" @bind-value="@SearchName"/>
        </div>
    </div>
    <div class="modal-footer contact-modal-footer py-2 row mx-auto">
        @foreach (FSModalButton Button in Options.Buttons) {
            <button class="@Button.CSS" @onclick="@(() => ButtonSelected(Button))">@Button.Name</button>
        }
    </div>
</div>
