<div class="control-section">
    <SfRichTextEditor @ref="@RTEditor" @bind-Value="@InterimValue" SaveInterval="1" CssClass="@CustomCss" Width="@_width">
            <RichTextEditorToolbarSettings Items="@Tools"></RichTextEditorToolbarSettings>
    </SfRichTextEditor>
</div>