<div class="@(@ActiveChannelOid == ListItem.Oid ? "active-channel" : "") contact_list_item only_text pt-4 pb-2 bizhub-cursor-pointer" @onclick="@(() => ListItemSelected.InvokeAsync(ListItem))">
    <span class="date">@ListItem.Date.ToShortDateString()</span>
    @* <div> *@
    @*     <span class="status_ball">N<i class="active round"></i></span> *@
    @* </div> *@
    
    
    <div>
            @if (!string.IsNullOrEmpty(ListItem.Avatar))
            {
                <img class="message-channel-avatar" src="@ListItem.Avatar">
                <!--TODO: switch IsSelected with whatever bool used to show if user is online currently or not.-->
                @if (@ListItem.IsSelected)
                {
                    <i class="user-active"></i>
                }
            }
            else
            {
                <img class="message-channel-avatar" src="/images/Avatar.png">
                @if (@ListItem.IsSelected)
                {
                    <i class="user-active"></i>
                }
            }
        </div>
    <div>
        <p>@ListItem.Name</p>
        <span>@ListItem.Value</span>
    </div>
</div>