@using System.Reflection;
@if (ActiveLookup != null) {
    <div class="col-md-8 px-0 border">
        <div class="lookup-form-wrp p-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-5 text-right font-weight-bold">Value</label>
                        <input class="col-md-7 mb-4" @bind-value="@ActiveLookup.Value" type="text">
                    </div>

                    @if (!String.IsNullOrEmpty(LookupUdfBlock.UDF1Label)) {
                        <div class="row">
                            <label class="col-md-5 text-right font-weight-bold">@LookupUdfBlock.UDF1Label</label>
                            <input class="col-md-7 mb-2" @bind-value="LookupUdfBlock.UDF1Value" type="text">
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(LookupUdfBlock.UDF2Label)) {
                        <div class="row">
                            <label class="col-md-5 text-right font-weight-bold">@LookupUdfBlock.UDF2Label</label>
                            <input class="col-md-7 mb-2" @bind-value="LookupUdfBlock.UDF2Value" type="text">
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(LookupUdfBlock.UDF3Label)) {
                        <div class="row">
                            <label class="col-md-5 text-right font-weight-bold">@LookupUdfBlock.UDF3Label</label>
                            <input class="col-md-7 mb-2" @bind-value="LookupUdfBlock.UDF3Value" type="text">
                        </div>
                    }
                    @if (!String.IsNullOrEmpty(LookupUdfBlock.UDF4Label)) {
                        <div class="row">
                            <label class="col-md-5 text-right font-weight-bold">@LookupUdfBlock.UDF4Label</label>
                            <input class="col-md-7 mb-2" @bind-value="LookupUdfBlock.UDF4Value" type="text">
                        </div>
                    }
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row">
                        @if (ActiveLookup.IsActive)
                        {
                            <input type="checkbox" class="col-md-1 mt-2" @bind-value="@ActiveLookup.IsActive" checked>
                        }
                        else
                        {
                            <input type="checkbox" class="col-md-1 mt-2" @bind-value="@ActiveLookup.IsActive">
                        }

                        <label class="col-md-11 font-weight-bold">Is Active</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <label class="col-md-2 text-right font-weight-bold">Definition</label>
                        <textarea class="col-md-10" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*else
{
    <div class="col-md-8 px-0 border">
        <div class="lookup-form-wrp p-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-5 text-right font-weight-bold">Lookup Name</label>
                        <input class="col-md-7 mb-4" @bind-value="@Lookup.Value" type="text">
                    </div>
                    <div class="row">
                        <label class="col-md-5 text-right font-weight-bold">UDF 1</label>
                        <input class="col-md-7 mb-2" type="text" @bind-value="@Lookup.UDF1">
                    </div>
                    <div class="row">
                        <label class="col-md-5 text-right font-weight-bold">UDF 2</label>
                        <input class="col-md-7 mb-2" type="text" @bind-value="@Lookup.UDF2">
                    </div>
                    <div class="row">
                        <label class="col-md-5 text-right font-weight-bold">UDF 3</label>
                        <input class="col-md-7 mb-2" type="text" @bind-value="@Lookup.UDF3">
                    </div>
                    <div class="row">
                        <label class="col-md-5 text-right font-weight-bold">UDF 4</label>
                        <input class="col-md-7 mb-4" type="text" @bind-value="@Lookup.UDF4">
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row">
                        <input type="checkbox" class="col-md-1 mt-2" @bind-value="@Lookup.IsActive">
                        <label class="col-md-11 font-weight-bold">Is Active</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <label class="col-md-2 text-right font-weight-bold">Definition</label>
                        <textarea class="col-md-10" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@


