<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <img class="email-center-icon mb-0 email-image-icon" src="/Images/email-circle.png">
        </div>
        <div class="row email-template-border">
            @if (!IsLoading) {
                <div class="col-md-12 float-right">
                    <button class="btn btn-sm create-email-btn mb-2 float-right bizhub-cursor-pointer" @onclick="CreateNewTemplate">Create New Template</button>
                </div>
                <div class="col-md-12"><h4 class="email-template-header">Email Templates</h4></div>
                <div id="container campaigns-grid">
                    <SfGrid @ref="Grid" DataSource="@Templates" AllowPaging="@GridOptions.IsAllowPaging" AllowSorting="@GridOptions.IsAllowSorting" AllowGrouping="@GridOptions.IsAllowGrouping"
                            AllowFiltering="@GridOptions.IsAllowFiltering" AllowReordering="@GridOptions.IsAllowReordering" AllowResizing="@GridOptions.IsAllowResizing">
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                        <GridPageSettings PageSize="@GridOptions.PageSize"></GridPageSettings>
                        <GridColumns>
                            <GridColumn HeaderText="Category" Width="100" Field="@nameof(EmailTemplate.LkpCategoryValue)"></GridColumn>
                            <GridColumn HeaderText="Name" Width="150" Field="@nameof(EmailTemplate.Name)"></GridColumn>
                            <GridColumn HeaderText="Description" Width="250" Field="@nameof(EmailTemplate.Description)"></GridColumn>
                            <GridColumn HeaderText="Action" Width="50">
                                <Template>
                                    @{ EmailTemplate Template = context as EmailTemplate; }
                                    <button class="btn btn-sm btn-transparent py-0"><i class="far fa-edit" style="color: var(--primary-blue)" @onclick="@(() => EditTemplate(Template))"></i></button>
                                    <button class="btn btn-sm btn-transparent py-0" @onclick="@(() => DeleteTemplate(Template))"><i class="fas fa-times text-danger"></i></button>
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            } else {
                <CmpLoadingSpinner></CmpLoadingSpinner>
            }
        </div>
    </div>
</div>
